.register {
  height: 100vh;
  width: 100vw;
  position: relative;
  background: black;
  font-family: Arial, sans-serif;
}

.register-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f562aaf4-5dbb-4603-a32b-6ef6c2230136/dh0w8qv-9d8ee6b2-b41a-4681-ab9b-8a227560dc75.jpg/v1/fill/w_1192,h_670,q_70,strp/the_netflix_login_background__canada__2024___by_logofeveryt_dh0w8qv-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvZjU2MmFhZjQtNWRiYi00NjAzLWEzMmItNmVmNmMyMjMwMTM2XC9kaDB3OHF2LTlkOGVlNmIyLWI0MWEtNDY4MS1hYjliLThhMjI3NTYwZGM3NS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.LOYKSxIDqfPwWHR0SSJ-ugGQ6bECF0yO6Cmc0F26CQs') center/cover no-repeat;
  filter: brightness(0.4);
  z-index: 0;
}

.register-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:transparent;
   border: 1px solid rgba( 255, 255, 255, 0.18 );
            background: rgba(89, 131, 83, 0.09);
            backdrop-filter: blur( 2px );
            border-radius: 1em;


  padding: 60px 68px;
  width: 400px;
  z-index: 1;
  color: white;
  border-radius: 4px;
}

.label-check{
  display: flex;
}

.register-box h1 {
  margin-bottom: 24px;
  font-size: 32px;
}

.register-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  background: #333;
  border: none;
  color: white;
  border-radius: 4px;
  font-size: 14px;
}

.register-box button {
  width: 100%;
  padding: 12px;
  background-color: #e50914;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.register-box .login-link {
  margin-top: 30px;
  color: #b3b3b3;
  font-size: 14px;
}

.register-box .login-link a {
  color: white;
  text-decoration: none;
}
